* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height:1.5rem;
}

main {
  padding-top: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

main h2 {
  color: #0d0660;
}

html {
  height: 100%;
}

.headerBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #43a4df;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appName {
  font-size: 1rem;
  margin-left: 1rem;
}

.diaProgresso {
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.semanaProgresso {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

div.semanaProgresso button {
  width: 100%;
  height: 5rem;
  margin-top: 1rem;
}

.buttonDiaProgresso {
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}

.buttonDiaProgresso:not(:disabled) {
  border-color: #0d0660;
  background-color: #a5d8f8;
  color: #0d0660;
}

button.buttonDiaProgressso:disabled, buttonDiaProgressso[disabled] {
  background-color: #cfe8f7;
}

.configBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: #43a4df;
  display: flex;
  align-items: center;
  justify-content: center;
}

#barraProgresso {
  margin-top: 0.8rem;
  color: #0d0660;
}

footer button {
  padding: 0.4rem 1.5rem;
  border-radius: 0.5rem;
  border-color: #0d0660;
  background-color: #a5d8f8;
  color: #0d0660;
}

.botaoVoltar {
  background-color: #43a4df;
  border: 0;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 10px;
}